{% extends 'clinica/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem-vindo à Clínica Saúde & Bem-Estar</h1>
            <p class="col-md-8 fs-4">Seu portal de agendamento de consultas online.</p>
            <hr class="my-4">

            {% if user.is_authenticated %}
                <p>Olá, <strong>{{ user.username }}</strong>!</p>

                {% if user.tipo_usuario == 'paciente' %}
                    <a href="{% url 'dashboard_redirect' %}" class="btn btn-primary btn-lg" class="btn btn-primary btn-lg">Acessar meu painel</a>
                {% endif %}

                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-lg">Sair</button>
                </form>
            {% else %}
                <p>Você não está conectado.</p>
                <a href="{% url 'login' %}" class="btn btn-success">Fazer Login</a>
                <a href="{% url 'paciente_cadastro' %}" class="btn btn-info">Cadastre-se</a>
            {% endif %}
        </div>
    </div>

{% endblock %}